<!-- TODO: Contact Form HTML -->

<!-- Video Section -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <div class="embed-responsive embed-responsive-16by9 service-hero-video">
                    <video preload="metadata" autoplay="true" muted="true" loop="true" class="herovideo1 embed-responsive-item">
                        <source src="https://s3-us-west-2.amazonaws.com/northcreativedesign/vid/hero_video.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Header Section -->

<section class="index-header">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1>NORTH CREATIVE IS A TEAM OF CREATIVE PROFESSIONALS
                    <br>EMPOWERING SMALL BUSINESSES WITH THE VISUAL TOOLS THEY NEED TO SUCCEED.</h1>
                <h4>As Ketchikan’s only full service design and multimedia agency, we provide powerful digital solutions to grow
                    your business and build your brand.</h4>
            </div>
        </div>
    </div>
</section>

<!-- Services Section -->

<section class="index-services">
    <div class="container-fluid index-services__container">
        <div class="row index-services__capheader">
            <div class="col-md-5">
                <h3>CAPABILITIES</h3>
            </div>
            <div class="col-sm-2">
                <div class="divider-bar"></div>
            </div>
            <div class="col-md-5">
                <h4>Alaskans with a special set of skills.</h4>
            </div>
        </div>
        <div class="row index-services__servicesrow">
            <!-- Branding Section -->
            <div class="col-sm-12 col-md-4 columns">
                <div class="outer-box">
                    <div class="row">
                        <div class="col-sm columns branding-text">
                            <!-- Branding Text -->
                            <img src="https://s3-us-west-2.amazonaws.com/northcreativedesign/img/branding_logo.png" alt="Branding">
                            <h2>Branding</h2>
                            <p>The best designs you’ll see in Southeast Alaska.</p>
                            <ul>
                                <li>Research &amp; Development</li>
                                <li>Concepts &amp; Rendering</li>
                                <li>Art Digitalization</li>
                                <li>Logo Design</li>
                                <li>Consultations</li>
                                <li>Custom Designs</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Web Development Section -->
            <div class="col-sm-12 col-md-4 columns">
                <div class="outer-box">
                    <div class="row">
                        <div class="col-sm columns webdevelop-text">
                            <!-- Web Development Text -->
                            <img src="https://s3-us-west-2.amazonaws.com/northcreativedesign/img/web_icon.png" alt="Web Design">
                            <h2>WEB DESIGN &amp; DEVELOPMENT</h2>
                            <p>Handrafted code that is built with the latest industry tools.</p>
                            <ul>
                                <li>Content Creation</li>
                                <li>Custom Design</li>
                                <li>Prototyping</li>
                                <li>Development</li>
                                <li>Concepting</li>
                                <li>Management</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Photo Section -->
            <div class="col-sm col-md-4 columns">
                <div class="outer-box">
                    <div class="row">
                        <div class="small-12 columns photo-text">
                            <!-- Photo Text -->
                            <img src="https://s3-us-west-2.amazonaws.com/northcreativedesign/img/photo_icon.png" alt="Photo/Video">
                            <h2>PHOTO &amp; VIDEO</h2>
                            <p>Consistent imagery paired with high-end production.</p>
                            <ul>
                                <li>Photography</li>
                                <li>Videography</li>
                                <li>Post Production</li>
                                <li>Editing/Retouching</li>
                                <li>Cinematic Shots</li>
                                <li>Drone Footage</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Marketing Section -->
            <div class="col-sm-12 col-md-4 columns">
                <div class="outer-box">
                    <div class="row">
                        <div class="small-12 columns marketing-text">
                            <!-- Marketing Text -->
                            <img src="https://s3-us-west-2.amazonaws.com/northcreativedesign/img/marketing_icon.png" alt="Marketing">
                            <h2>MARKETING</h2>
                            <p>We love seeing our small Alaskan communities grow.</p>
                            <ul>
                                <li>Marketing Plans &amp; Analysis</li>
                                <li>Social Media Management</li>
                                <li>Social Media Marketing</li>
                                <li>Ad Campaigns</li>
                                <li>Ad Boosting/Post Scheduling</li>
                                <li>Promotional Products</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Printing Section -->
            <div class="col-sm-12 col-md-4 columns">
                <div class="outer-box">
                    <div class="row">
                        <div class="small-12 columns printing-text">
                            <!-- Printing Text -->
                            <img src="https://s3-us-west-2.amazonaws.com/northcreativedesign/img/print_icon.png" alt="Print/Signage">
                            <h2>PRINTING &amp; SIGNAGE</h2>
                            <p>Top-notch vivid printing and custom signs, standard turn-around one business week.</p>
                            <ul>
                                <li>Vinyl Decals</li>
                                <li>Rigid Sign Panels</li>
                                <li>Business Cards</li>
                                <li>Brochures</li>
                                <li>Banners</li>
                                <li>Posters &amp; More</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Strategy Section -->
            <div class="col-sm-12 col-md-4 columns">
                <div class="outer-box">
                    <div class="row">
                        <div class="small-12 columns strategy-text">
                            <!-- Strategy Text -->
                            <img src="https://s3-us-west-2.amazonaws.com/northcreativedesign/img/strategy_icon.png" alt="Strategy">
                            <h2>STRATEGY</h2>
                            <p>Behind every beautiful visual is a strategy that makes it meaningful.</p>
                            <ul>
                                <li>Marketing Strategy</li>
                                <li>Research &amp; Discovery</li>
                                <li>Marketing Campaigns</li>
                                <li>Content Strategy</li>
                                <li>Copywriting</li>
                                <li>Scripting</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FEATURED WORK SECTION -->

<section class="index-featured">
    <div class="container-fluid index-featured__bg">
        <div class="row index-featured__header">
            <div class="col-md-5">
                <h3>FEATURED WORK</h3>
            </div>
            <div class="col-sm-2">
                <div class="divider-bar"></div>
            </div>
            <div class="col-md-5">
                <h4>Creating lasting impressions for our clients.</h4>
            </div>
        </div>
        <!-- End Header -->

        <!-- TNA Featured Work -->

        <div class="row index-featured__tnafitness">
            <div class="col-md-3">
                <h5>BRANDING PACKAGE</h5>
                <h6>TNA Fitness, LLC</h6>
                <p>At TNA Fitness, they believe that being fit and healthy isn’t just a summer trend, it’s a lifestyle. Building
                    a healthier mind and body can truly transform your life. It’s all about the right Training, Nutrition
                    and Attitude.</p>
                <p>North Creative Design Co. was contacted to develop a new identity for TNA Fitness and their competition team,
                    The Xtra-Tuff Girls. </p>
                <p>What started as a logo, grew into a website that matched her new look, completed with striking photography,
                    a dynamic promo video, and online membership purchasing.</p>
                <ul>
                    <li>Project: Branding Package</li>
                    <li>Services: Logo Design, Custom Web Design &amp; Development, Photography, Videography &amp; Post-Production</li>
                </ul>
                <a href="tnacase.html">
                    <button class="btn btn-outline btn-outline-warning btn-large">View Case Study</button>
                </a>
            </div>
            <div class="col-md-9">
                <img src="https://s3-us-west-2.amazonaws.com/northcreativedesign/img/tna_featured.jpg" class="img-fluid d-xl-none" alt="TNA Fitness">
                <img src="https://s3-us-west-2.amazonaws.com/northcreativedesign/img/tnacase4_large.png" class="d-none d-xl-block img-fluid" alt="TNA Fitness">
            </div>
        </div>
        <!-- End TNA Feature Work -->
    </div>
    <!-- Ketchikan Museums -->
    <div class="row index-featured__ketchikanmuseums">
        <div class="bg">
            <div class="row">
                <div class="col-md-3">
                    <h5>IDENTITY DESIGN</h5>
                    <h6>The City of Ketchikan</h6>
                    <p>The Museums Department faced a unique challenge when it came to the branding of their department.</p>
                    <p>North Creative Design Co. helped them achieve division between their two locations which operate under
                        a single branch: Ketchikan’s Museums. Today they have a look which attracts attention with beautiful
                        northwest coast color palette, paired with the infamous creek street and deer mountain, where you
                        can find both of their musems locations, Totem Heritage Center and Totem Historical Museum.</p>
                    <p>This project called for a historic and iconic blend- Ketchikan style.</p>
                    <ul>
                        <li>Project: Identity Design</li>
                        <li>Services: Logo Design &amp; Development, Consulting</li>
                    </ul>
                    <a href="kmcase.html">
                        <button class="btn btn-outline btn-outline-warning btn-large">View Case Study</button>
                    </a>
                </div>
                <div class="col-md-9 columns">
                    <img src="https://s3-us-west-2.amazonaws.com/northcreativedesign/img/museums_mockup.png" class="img-fluid" alt="Ketchikan Museums">
                </div>
            </div>
        </div>
    </div>
    <!-- End Ketchikan Featured Work -->
    <div class="row index-featured__islandtile">
        <div class="row featured-bg">
            <div class="col-md-4">
                <h5>MARKETING + WEB</h5>
                <h6>Interiors by Island Tile</h6>
                <p>Interiors by Island Tile are Kethikan’s home interior specialists. Centrally located in Ketchikan, they feature
                    a stunning 3,000 sq.ft showroom with options to suit all styles, spaces, and budgets. </p>
                <p>An aquaintence with North Creative Design Co. turned into a relationship of her go-to marketing gurus to
                    help her achieve a consistent look across all platforms, print, social media, completed with a fresh
                    new website.</p>
                <ul>
                    <li>Project: Marketing + Web</li>
                    <li>Services: Marketing Plans, Social Media Marketing &amp; Management, Web Design and Development, Collateral
                        and Printable Materials, Photography and Videography Services</li>
                </ul>
                <p class="lower-island-text">
                    <strong>“North Creative Design has done an awesome job creating a new Website for Island Tile and Marble!! Their
                        ideas and response time to our marketing needs far exceeded our expectations! The marketing plan/budget
                        is organized and precise. Call them for all of your marketing needs!”</strong>
                </p>
                <p class="lower-island-text">- Ann McKim, Owner</p>
                <p class="lower-island-text">Interiors by Island Tile</p>
                <a href="itmcase.html">
                    <button class="btn btn-outline btn-outline-warning btn-large">View Case Study</button>
                </a>
            </div>
            <div class="col-md-8">
                <img src="https://s3-us-west-2.amazonaws.com/northcreativedesign/img/island_featured.png" class="d-xl-none img-fluid" alt="Island Tile &amp; Marble">
                <img src="https://s3-us-west-2.amazonaws.com/northcreativedesign/img/itmcase3_large.png" class="d-none d-xl-block img-fluid" alt="Island Tile &amp; Marble">
            </div>
        </div>
    </div>
</section>
