{{!-- VIDEO HERO SECTION --}}
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <div class="embed-responsive embed-responsive-16by9 service-hero-video">
            <video preload="metadata" autoplay="true" muted="true" loop="true" class="herovideo1 embed-responsive-item">
                <source src="https://s3-us-west-2.amazonaws.com/northcreativedesign/vid/service_video.mp4" type="video/mp4">
            </video>
        </div>
      </div>
    </div>
  </div>
</section>
{{!-- BRANDING SERVICES SECTION --}}

<section class="branding-services">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 branding-services__brandingDescription">
        <h1>BRANDING</h1>
        <h4>It’s more than a logo.</h4>
        <p>Branding is commonly misunderstood. At North Creative Design, not only
        do we develop the brand assets, but we help you achieve a clearer sense of
        your business image and it’s role from the consumer standpoint. A powerful
        brand is what makes your business memorable, credible, likeable and sought-after.
        It’s not just about it what it looks like, it’s how people percieve
        you. Branding is about shaping that perception. We define it as something
        that is tangible and very much alive. A successful brand should make an
        emotional impact and set the stage for stories, memories and expectations
        that lead the consumer to chose your product or service over another.</p>
        <p>Being transparent and authentic is what will drive attention to your brand
        and make it last. Connecting with your audience in a relevant way is what
        will drive your success and your customer’s loyalty.</p>
        <p>Think Nike, Apple, the sky is the limit.</p>
        <p>Got goosebumps? Me too.</p>
      </div>
      <div class="col-md-7 branding-services__brandingImage">
        <img src="https://s3-us-west-2.amazonaws.com/northcreativedesign/img/branding_service.png" alt="" class="img-fluid">
      </div>
    </div>
    {{!-- WEB DESIGN & DEVELOPMENT --}}
    <div class="branding-services__grayBg">
      <div class="row branding-services__webRow">
        <div class="col-sm-12">
          <h1>WEB DESIGN &amp; DEVELOPMENT</h1>
          <h4>Become accessible on all platforms, 24 hours a day.</h4>
        </div>
        <div class="col-md-5">
          <p>A website tailored to your business and needs is really one of the best
          marketing tools you can have in today’s world. It’ll work for you 24/7.
          In an age where your audience commonly likes to research and form their
          own opinions before interacting with any business, services or products,
          having an online presence is more important then ever.</p>

          <p>We take the time to get to know our clients, meaning when we sit down
          to design a website for them it’s developed with their specific needs in the
          foreground. We encourage modern designs that won’t age. From building
          on your current branding to starting from scratch, we’ve helped our client’s
          from all that and inbetween.</p>

          <p>Functionality is just as important as looking good. Enjoy subtle interactions
          to autoplay video embedded in your website to drive your customers
          engagement and get them talking about you.</p>

          <p>Consistency is key, but content is king.</p>
        </div>
        <div class="col-md-7">
          <img src="https://s3-us-west-2.amazonaws.com/northcreativedesign/img/webdesign_service.png" alt="North Creative Design Branding" class="d-xl-none img-fluid">
          <img src="https://s3-us-west-2.amazonaws.com/northcreativedesign/img/large_web.png" alt="North Creative Design Branding" class="d-none d-xl-block img-fluid">
        </div>
      </div>
    </div>
    {{!-- PHOTO & VIDEO ROW --}}
    <div class="row branding-services__photoRow">
      <div class="col-sm-12">
        <h1>PHOTO &amp; VIDEO</h1>
        <h4>The services you need to get attention.</h4>
      </div>
      <div class="col-md-5">
        <p>One of the reasons to get your customers to stop scrolling is a dramatic or
        visually compelling image or video. Make your brand blossom with your own
        webisodes, promotional videos, expert advise or a peek behind the scenes.
        These are just a few ways to get your brand to start speaking. Storytelling is
        one of the most powerful ways you can connect with your audience. Being
        visually compelling emotionally charges people to get up and take action.
        Whether that’s excitement or contacting your business to connect with your
        products to solve a long endured problem, we can help you gauge those
        interactions. Pairing your video content with ads containing beautifully
        captured professional photography, is a home run- everytime.</p>

        <p>The very best stories cause a reaction that engages your customers.
        And developing compelling story content and know how to get the
        right part of your story to the right person at the right place and time.</p>

        <p>We use the very  best industry tools on the market to capture cinematic
        quality video and commercial grade photography.</p>

        <p><strong>North Creative Design Co., LLC is a licensed and certified UAA Unmanned Pilot and owns and operates the best video and camera equipment in Southeast Alaska.</strong></p>
      </div>
      <div class="col-md-7">
        <img src="https://s3-us-west-2.amazonaws.com/northcreativedesign/img/photo_service.png" alt="North Creative Design Photo & Video" class="d-xl-none img-fluid">
        <img src="https://s3-us-west-2.amazonaws.com/northcreativedesign/img/large_video.png" alt="North Creative Design Photo & Video" class="d-none d-xl-block img-fluid">
      </div>
    </div>
    {{!-- PRINTING & SIGNAGE SECTION --}}
    <div class="branding-services__grayBg">
      <div class="row branding-services__signageRow">
        <div class="col-sm-12">
          <h1>PRINTING &amp; SIGNAGE</h1>
          <h4>Explore your sign and print options, from digital to metal.</h4>
        </div>
        <div class="col-md-5">
          <p>Today digital signage is an affordable sign option if you need to update
          your content on a regular basis. North Creative Design Co. helps their
          clients with their digital slides for their on-screen digital solutions. If you
          need something more permanent, ask about metal signage that offers a
          lifetime guarentee! From your basic business needs, such as business cards,
          rack cards, letterhead or brochures, we have you covered. If you need
          something more like interior hanging signage, exterior permanent signs,
          banners to promote an event, or a special sign that calls attention to your
          business or logo, we can do it all.</p>

          <p>Supplement your marketing with printed pieces for your customers to
          take home and think about your services or products. Taking the extra
          step for your customers makes a big difference in their understanding
          of your business model and how you care for them.</p>

          <p>From digital to metal and everything inbetween, ask us what solution
          would work best for your business!</p>
        </div>
        <div class="col-md-7">
          <img src="https://s3-us-west-2.amazonaws.com/northcreativedesign/img/signage_service.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="row branding-services__marketingRow">
      <div class="col-sm-12">
        <h1>MARKETING</h1>
        <h4>It’s all about relationships.</h4>
      </div>
      <div class="col-md-5">
        <p>Most businesses have faced a challenge when it comes to marketing-
        the digital age. Even in the smallest of towns, having some form of
        digital marketing is expected by consumers.</p>

        <p>For our clients, we deliver marketing plans that are well rounded and
        cover all the bases you need for a years worth of marketing efforts and
        goals. We take pride in being concise and to the point, to deliver you
        a marketing plan that is realistic to you and your business.</p>

        <p>We manage and build ad campaigns for social media platforms for our
        clients according to the approved marketing plan. Communicating the
        value of your product or service is only one of the key aspects that goes
        into a successful marketing plan. Execution is just as important.</p>

        <p>Whether you don’t have the time or effort to market yourself, or you simply
        want to get back to doing what you do best- running your business, contact
        North Creative Design and we will help you reach your communication goals.</p>
      </div>
      <div class="col-md-7">
        <img src="https://s3-us-west-2.amazonaws.com/northcreativedesign/img/marketing_service.png" alt="" class="img-fluid">
      </div>
    </div>
    <div class="branding-services__grayBg">
      <div class="row branding-services__strategyRow">
        <div class="col-sm-12">
          <h1>STRATEGY</h1>
          <h4>We have unique insights and strategy concepts.</h4>
        </div>
        <div class="col-md-5">
          <p>North Creative Design Co. is best known for having great ideas. Behind every
          dynamic design, is a strategy that makes it relevant and meaningful.</p>

          <p>Before any creative work begins, we dedicate time to understanding your
          business, your brand, and your vision for the next season, the next year, and
          beyond. Not only should a strategy include photos, content, illustrations or
          videos that are applicable to your current brand, but it should have a plan on
          how to apply that media. From when to where to impliment your marketing
          efforts, we wil evaluate your current needs and capacity for managing and
          publishing your content and deliver a realistic plan to reach your goals.</p>

          <p>Consumers genuinely do love to discover brands that they love to love.
          Our goal is to help close the gap between you and your customers and
          generate a connection to gain their loyalty to your business.</p>

          <p>Afterall, a goal without a plan is just a wish.</p>
        </div>
        <div class="col-md-7">
          <img src="https://s3-us-west-2.amazonaws.com/northcreativedesign/img/marketing_services.png" alt="" class="d-xl-none img-fluid">
          <img src="https://s3-us-west-2.amazonaws.com/northcreativedesign/img/large_glasses.png" alt="" class="d-none d-xl-block img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>
